#layout {
    background-color: $bg-secondary;
    height: 100%;
    min-height: 100vh;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 100px; 
        background-color: $bg-primary;
        .header-title {
            color: $font-primary;
            font-size: 24px;
            vertical-align: middle;
            svg, span {
                display: inline-block;
                vertical-align: middle;
            }
            span{
                margin-left: 7px;
            }
        }
        nav {
            display: flex;
            li {
                margin-right: 55px;
                font-size: 12px;
                line-height: 20px;
                a {
                  color: $font-secondary;
                }
                &.selected a{
                    color: $font-primary;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .wallet-btn {
            .wallet-info {
                @include text-legal;
                color: $font-secondary;
                .link {
                    text-decoration: underline;
                    color: $font-primary;
                }
            }
        }
        .menu-btn {
            display: none;
        }
        @media screen and (max-width: 980px) {
            & {
                padding: 0 20px; 
            }
            nav.show {
                display: block;
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 0;
                background: $bg-primary;
                width: 100%;
                text-align: center;
                padding: 20px 20px 40px 20px;
                box-sizing: border-box;
                li {
                    margin: 0;
                    height: 40px;
                    line-height: 40px;
                }
            }
            nav, .wallet-btn {
                display: none;
            }
            .menu-btn {
                display: block;
            }
        }
    }
    #footer {
        display: flex;
        position: fixed;
        right: 80px;
        bottom: 44px;
        >div {
            margin-right: 12px;
            cursor: pointer;
        }
        >div:last-child {
            margin-right: 0;
        }
        @media screen and (max-width: 980px) {
            & {
                right: 50%;
                transform: translateX(50%);
            }
        }
    }
}