// colors
$primary-color: #39DB80;
$success-color: #8687F3;

$bg-primary: #0C0C14;
$bg-secondary: #2c2c30;
$bg-light: #EFEFEF;

$active-bg-color: #39DB80;
$active-border-color: #8687F3;
$inactive-border-color: #39DB80;

$font-primary: #39DB80;
$font-secondary: #EFEFEF;
$font-black: #2c2c30;

$color-primary: #39DB80;
$color-gray:#6A6868;

//fonts
$font-family: "IBM Plex Mono";

:root {
    --primary-color: #39DB80;
    --success-color: #8687F3;
}